@import "../../variables";

.works {
	font-size: 16px;
	height: 100vh;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.works::-webkit-scrollbar {
	display: none;
}

.title {
	position: relative;
	width: 30%;
	z-index: 1;
	font-size: 4.5rem;
	color: $text_color;
	font-family: "Baskerville";
	padding-top: 4rem;
	padding-left: 2.5%;
	letter-spacing: 0.3rem;
}

.blocks {
	width: 95%;
	margin: 40px auto 40px;
}

.block {
	margin-top: 3rem;
	width: 100%;
	border-radius: 30px;
	height: 56vh;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
}

.first {
	background: linear-gradient(
		180deg,
		#876d9d 0%,
		rgba(135, 109, 157, 0) 100%
	);
}

.second {
	background: linear-gradient(
		360deg,
		#876d9d 0%,
		rgba(135, 109, 157, 0) 100%
	);
}


.left {
	width: 35%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 2.8vh;
	padding-left: 2rem;
}

.left_info_title {
	font-size: 3rem;
	color: $text_color
}

.left_info_text {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	line-height: 2.25rem;
	color: $text_color;
}

.left_info_text span {
	color: $main_color;
	font-weight: 600;
}

.left_links {
	font-size: 2rem;
	color: $text_color;
}

.left_links a {
	border-bottom: 2px solid rgba($bg_color, 0.01);
	color: $main_color;
	transition: .2s linear;
}

.left_links a:hover {
	border-bottom: 2px solid $main_color;
}

.right {
	width: 65%;
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
}

.right_block {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
	margin-right: -3vh;
}

.right_column {
	// margin-right: -3vh;
	width: 48%;
	display: flex;
	margin-top: -5vh;
	height: 70vh;
	flex-direction: column;
	transform: rotate(5deg);
}

.right_column_image {
	width: 100%;
	height: 50%;
	object-fit: cover;
	filter: saturate(0);
	transition: .2s linear;
}


.right_column:hover {
	.right_column_image {
		filter: saturate(1);
	}
}

.right_another {
	width: 65%;
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	gap: 0.8rem;
}

.right_another_block {
	height: 60vh;
	margin-right: -5vh;
	width: 100%;
	display: flex;
	// overflow: hidden;
	justify-content: flex-end;
	gap: 0.8rem;
}

.right_another_image {
	rotate: (5deg);
	width: 32%;
	height: 130%;
	margin-top: -10%;
	object-fit: cover;
	// margin-right: -20px;
	filter: saturate(0);
	transition: .2s linear;
}

.right_another_image:hover {
	filter: saturate(1);
}