@import "../../variables";

.main {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	font-size: 16px;
}

.main::-webkit-scrollbar {
	display: none;
}

.choice {
	height: 100vh;
	display: flex;
	width: 100%;
	gap: 1rem;
	overflow: hidden;
}

.block {
	z-index: 6;
	height: 120vh;
	width: 32%;
	transform: rotate(5deg);
	background-color: $secondary_bg_color;
	display: flex;
	flex-direction: column;
	margin-top: -10vh;
	transition: 0.2s linear;
	padding-left: 1rem;
}

.title {
	margin-top: 30vh;
	font-size: 3em;
	color: $text_color;
	transition: 0.2s linear;
	font-weight: 600;
	transition: 0.2s linear;
}

.text {
	margin-top: 1.5rem;
	color: $text_color;
	font-size: 2em;
	width: 90%;
	transition: 0.2s linear;
}

.text span {
	color: $main_color;
	transition: 0.2s linear;
}

.block:hover {
	background-color: $main_color;

	.title {
		color: $bg_color;
	}

	.text {
		color: $secondary_bg_color;
	}

	.text span {
		color: $bg_color;
	}
}

.banner {
	height: 100vh;
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.content {
	padding-top: 40vh;
	padding-left: 2.5%;
}

.content_text {
	font-size: 3.125em;
	color: $text_color;
}

.content_title {
	color: $main_color;
	font-family: "Baskerville";
	margin-bottom: 2rem;
	font-size: 8em;
	letter-spacing: 1rem;
}

.button {
	width: 30rem;
	font-size: 2em;
	height: 5rem;
	outline: none;
	border: none;
	background-color: $main_color;
	color: $bg_color;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s linear;
	font-family: "Nunito";
}

.button:hover {
	scale: 1.02;
	box-shadow: 2px 2px 5px black;
}

.button:focus {
	scale: 1;
	box-shadow: none;
}

.image_block {
	height: 100vh;
	overflow: hidden;
	cursor: pointer;
}

.image {
	height: 100%;
	z-index: 1;
}

.content_button {
	z-index: 5;
	position: absolute;
	bottom: 10px;
	left: 47.5%;
	border: none;
	background: none;
	cursor: pointer;
	animation: jump 2s infinite linear;
}

@keyframes jump {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.show_image {
	width: 6rem;
	height: 6rem;
	color: $text_not_chosen_color;
	transition: 0.2s linear;
}

.show_image:hover {
	color: $text_color;
	scale: 1.05;
}



@media (max-width: 1281px) {
	.main {
		font-size: 12px;
	}
}

@media (max-width: 1024px) {
	.main {
		font-size: 10px;
	}

	.content {
		padding-top: 35vh;
	}

	.button {
		width: 20rem;
		height: 3.5rem;
	}
}

@media (max-width: 850px) {
	.content {
		width: 70%;
		z-index: 10;
	}

	.image_block {
		z-index: 0;
		width: 100%;
		margin-left: -40%;
	}

	.content_text {
		white-space: wrap;
	}
}

@media (max-width: 700px) {
	.main {
		font-size: 6px;
	}
	.content_text {
		white-space: wrap;
		line-height: 2rem;
		font-size: 4em;
	}
	.content_title {
		letter-spacing: 0.5rem;
		margin-bottom: 1.5rem;
		font-size: 10em;
	}

	.content_button {
		left: 45%;
	}

	.button {
		width: 12rem;
		height: 3rem;
		border-radius: 10px;
		font-size: 3em;
	}

	.show_image {
		width: 4rem;
		height: 4rem;
	}

	.choice {
		flex-direction: column;
		height: 100vh;
	}

	.block {
		z-index: 11;
		width: 120%;
		margin-left: -10%;
		transform: rotate(5deg);
		height: 33%;
		margin-top: 0;
	}

	.title {
		margin-top: 5vh;
		font-size: 4em;
		padding-left: 10%;
	}

	.text {
		font-size: 3em;
		width: 60%;
		padding-left: 10%;
		margin-top: 0.5rem;
	}

	.image_block {
		margin-left: -150%;
	}
}