@import "../../variables";

.main {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	font-size: 16px;
}

.main::-webkit-scrollbar {
	display: none;
}

.header {
	background-color: $secondary-bg-color;
	position: fixed;
	width: 100%;
	// margin-left: 1%;
	// margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// border-radius:  0px 0px 20px 20px;
	box-shadow: 0px 0px 2px;
	// border: 2px solid #333;
}

.important_banner {
	width: 100%;
	// height: 60px;
	background: #fbe9e7;
	color: #ba360a;
	font-size: 30px;
	padding: 16px;
}

.header_elements {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	// padding-top: 30px;
	// padding-bottom: 30px;
	// padding-right: 5%;
	// align-items: center;
	// display: flex;
	// gap: 2.5rem;
}

.burger_menu {
	display: none;
}

.desktop_links {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	// padding-right: 5%;
	margin-right: 80px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	gap: 2.5rem;
}

.burger_icon {
    display: none; /* Initially hidden, displayed for mobile */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000; /* Ensures it is above other elements */
}

.burger_line {
    width: 100%;
    height: 4px;
    background-color: #333; /* Adjust color based on your design */
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Burger Menu */
.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #fff; /* Background color for the menu */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 50px; /* Space for the burger icon */
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Initially hidden off-screen */
    z-index: 999;
}

/* Show burger menu when toggled */
.burger_menu.open {
    transform: translateX(0); /* Move menu in when opened */
}

/* Menu Items */
.menu_item {
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
    color: #333; /* Adjust text color */
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.2s;
}

.menu_item:hover {
    background-color: #f0f0f0; /* Hover effect */
}

/* Language Switcher inside burger menu */
.burger_menu .languageSwitcher {
    margin-top: auto; /* Push language switcher to the bottom */
    padding: 15px;
    text-align: left;
}

.language_button {
	background: none;
	outline: none;
	font-size: 20px;
	padding: 0.4rem 1.2rem;
	border: 2px solid $hint;
	color: $hint;
	border-radius: 12px;
	cursor: pointer;
	transition: .2s;
}

.language_button:hover {
	color: $title;
}

.choice {
	background-color: $bg_color;
	width: 100%;
	padding: 3.75rem 6.25rem;
	padding-bottom: 0;
}

.works {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	gap: 1.25rem;
}

.work {
	width: 75%;
	background-color: $secondary-bg-color;
	height: 25.125rem;
	border-radius: 30px;
	display: flex;
}

.left_part {
	width: 50%;
	padding: 1.875rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right_part {
	width: 50%;
	// display: flex;
	justify-content: center;
	margin: auto 0;
}

.right_part_image {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* X-axis and Y-axis shadows */
	0 6px 20px rgba(0, 0, 0, 0.1); /* Spread radius shadows */
	width: 95%;
	// margin-left: 2.5%;
	// margin-right: 2.5%;
	height: auto;
	max-height: 100%;
	border-radius: 10px;
}

.contacts {
	margin-top: 1rem;
	display: flex;
	gap: 20px;
	padding-bottom: 60px;
}

.contact {
	width: 32%;
	background-color: $secondary-bg-color;
	padding: 30px 40px;
	border-radius: 30px;
}

.footer {
	background-color: $bg_color;
	text-align: center;	
	padding-bottom: 20px;
}

.display_large {
	font-size: 2.5rem;
	line-height: 2.5rem;
	color: $title;
	font-weight: 700;
}

.large_title {
	font-size: 2.5rem;
	line-height: 2.75rem;
	font-weight: 700;
	color: $title;
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: $title;
}

.large_element {
	font-size: 1.5rem;
	line-height: 1.875rem;
	font-weight: 500;
	color: $font;
}

.element {
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-weight: 500;
	color: $font;
}

.text {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	color: $font;
	div {
		margin-bottom: 0.3rem;
	}
}

.small_text {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	color: $hint;
}

.info {
	margin-top: 10px;
}

.links {
	text-decoration: none;
}

.links_text {
	color: $hint;
	
}

.links_text:hover {
	color: $title;
}

.link {
	text-decoration: none;
}

.popup_date {
	margin-top: 4px;
}

.popup_text {
	width: 83%;
	margin-top: 10px;
}

.page_block {
	background-color: $secondary-bg-color;
	border-radius: 20px;
	margin-top: 1.5rem;
	padding: 1.5rem 2rem ;
}

.page_block_text {
	margin-top: 10px;
	width: 90%;
}

.page_block_image {
	margin-top: 20px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* X-axis and Y-axis shadows */
              0 6px 20px rgba(0, 0, 0, 0.1); /* Spread radius shadows */
}

.banner {
	height: 100vh;
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.content {
	display: flex;
	flex-direction: column;
	// padding-top: 40vh;
	justify-content: center;
	padding-left: 6.25rem;
}

.content_text {
	font-size: 5em;
	line-height: 1;
	color: $font;
}


.content_title {
	// margin-top: 10rem;
	color: $font;
	font-family: "Nunito";
	margin-top: 2rem;
	font-size: 2rem;
	line-height: 2.5rem;
	width: 75%;

	b {
		color: $main;
	}
}


.button {
	padding: 10px 20px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	outline: none;
	border: none;
	background-color: $main;
	color: $bg_color;
	border-radius: 16px;
	cursor: pointer;
	transition: 0.2s linear;
	font-family: "Nunito";
}

.button:hover {
	background-color: $main-hovered;
}

.button:focus {
	scale: 1;
	box-shadow: none;
}

.image_block {
	height: 100vh;
	overflow: hidden;
	cursor: pointer;
}

.image {
	height: 100%;
	z-index: 1;
}

.content_button {
	z-index: 5;
	// position: absolute;
	bottom: 10px;
	left: 47.5%;
	border: none;
	background: none;
	cursor: pointer;
	animation: jump 2s infinite linear;
}

@keyframes jump {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.show_image {
	width: 6rem;
	height: 6rem;
	color: $hint;
	transition: 0.2s linear;
}

.show_image:hover {
	color: $font;
	scale: 1.05;
}



@media (max-width: 1281px) {
	.main {
		font-size: 12px;
	}
}

@media (max-width: 1024px) {
	.main {
		font-size: 10px;
	}

	.content {
		padding-top: 35vh;
	}

	.button {
		width: 20rem;
		height: 3.5rem;
	}
	.choice {
		padding: 4rem 3rem;
	}
	.works {
		width: 90%;
	}
	.work {
		width: 100%;
	}
}

@media (max-width: 850px) {
	.content {
		width: 70%;
		z-index: 10;
	}

	.image_block {
		z-index: 0;
		width: 100%;
		margin-left: -40%;
	}

	.content_text {
		white-space: wrap;
	}
}

@media (max-width: 700px) {

	.desktop_links {
		display: none;
	}

	.content_text {
		font-size: 3.2rem;
	}

	.content_title {
		color: $font;
		font-size: 1.6rem;
		margin-top: 10px;
	}

	.main {
		font-size: 6px;
	}

	.image_block {
		display: none;
	}

	.content_button {
		left: 45%;
	}

	.banner {
		height: 25vh;
	}

	.content {
		padding-top: 0;
		padding-left: 2%;
	}

	.right_part {
		display: none;
	}

	.left_part {
		width: 100%;
		padding: 20px;
	}

	.desktop_links {
		display: none;
	}

	.button {
		width: 12rem;
		height: 3rem;
		border-radius: 10px;
		font-size: 3em;
	}

	.show_image {
		width: 4rem;
		height: 4rem;
	}

	.choice {
		flex-direction: column;
		// height: 100vh;
		padding-left: 2%;
		padding-bottom: 0;
		padding-top: 2rem;
	}

	.button {
		width: 15rem;
	}

	.works {
		margin-top: 1rem;
		width: 96%;
	}

	.work {
		height: 30rem;
		border-radius: 20px;
	}

	.image_block {
		margin-left: -150%;
	}

	.contacts {
		flex-direction: column;
		width: 96%;
	}

	.contact {
		width: 90%;
		padding: 20px;
		border-radius: 20px;
	}

	.contact .title {
		font-size: 1.8rem;
	}

	.contact .large_element {
		font-size: 1.2rem;
	}

	.display_large {
		font-size: 2.4rem;
	}
	.page_block {
		padding: 0;
		padding-top: 20px;
		padding-left: 10px;
		padding-bottom: 20px;
		border-radius: 16px;
	}
}