@import '../../variables';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    font-size: 15px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

.links {
    font-size: 2em;
    display: flex;
    gap: 4rem;
}

.link {
    color: rgba($text_color, 0.7);
    text-decoration: none;
    transition: .2s linear;
}

.link:hover {
    color: $text_color;
}

.active {
    color: $main_color;
}

.active:hover {
    color: $main_color;
}

.activeD {
    color: $bg_color;
}

@media (max-width: 1281px) {
    .header {
        font-size: 12px;
    }
}