@import "../../variables";

.contact {
	font-size: 16px;
	height: 100vh;
	overflow: hidden;
}

.title {
	position: relative;
	width: 30%;
	z-index: 1;
	font-size: 4.5em;
	color: $text_color;
	font-family: "Baskerville";
	padding-top: 4rem;
	padding-left: 2.5%;
	letter-spacing: 0.3rem;
}

.blocks {
	padding-top: 10vh;
	rotate: 10deg;
	width: 100%;
	display: flex;
	gap: 20px;
}

.image {
	margin-top: 70vh;
	width: 60%;
	margin-left: 20%;
}

.block {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	height: 200vh;
	margin-top: -50vh;
	justify-content: center;
	width: 46%;
	background: linear-gradient(
		270deg,
		#876d9d 0%,
		rgba(135, 109, 157, 0) 100%
	);
	transition: 0.2s linear;
}

a {
    text-decoration: none;
}

.another {
	background: linear-gradient(90deg, #876d9d 0%, rgba(135, 109, 157, 0) 100%);
}

.content {
	margin-left: 10%;
	width: 70%;
	height: 25rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first {
	background-image: url("../../images/email.svg");
	transition: 0.2s linear;
}

.second {
	background-image: url("../../images/telegram.svg");
	transition: 0.2s linear;
}

.under_content {
	margin-top: 2rem;
	color: $text_not_chosen_color;
	margin-left: 10%;
	font-size: 3em;
    transition: .2s linear;
}

.button {
	transform: translateY(20px);
	margin-top: 3rem;
	display: block;
	width: 80%;
	font-family: 'Nunito';
	font-size: 2em;
	height: 5rem;
	border: none;
	cursor: pointer;
	background-color: $bg_color;
	color: $text_color;
	border-radius: 20px;
	opacity: 0;
    transition: .2s linear;
}

.text {
	transform: translateY(-20px);
	opacity: 0;
	color: $text_color;
	font-size: 2em;
	transition: 0.2s linear;
}

.important_text {
	transform: translateY(-20px);
	opacity: 0;
	color: $bg_color;
	font-size: 3em;
    transition: .2s linear;
}

.block:hover {
	background: $main_color;

	.first {
		background-image: url("../../images/email1.svg");
	}

	.second {
		background-image: url("../../images/telegram1.svg");
	}

	.text {
		opacity: 1;
		transform: translateY(0px);
	}

	.important_text {
		opacity: 1;
		transform: translateY(0px);
	}

    .under_content {
        color: $text_color;
        transition: .2s linear;
    }

    .button {
		opacity: 1;
		transform: translateY(0px);
        transition: .3s linear;
    }

    .button:hover {
        scale: 1.02;
        box-shadow: 2px 2px 5px black;
    }
}


@media (max-width: 1281px) {
	.contact {
		font-size: 12px;
	}
}