$bg_color: #EDEDED;
$secondary-bg-color: #FFFFFF;
$title: #212121;
$font: #3F3F3F;
$hint: #5C5C5C;
$main: #88009E;
$main-hovered: #670077;
$button-font: #FFFFFF;
$icon: #C5C5C5;
$icon-hovered: #878787;