body {
  /* background: url('./images/background.png'); */
  /* background: #5F2899 ; */
  background-color: #fff;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-weight: 500;
}
