body {
  /* background: url('./images/background.png'); */
  /* background: #5F2899 ; */
  background: linear-gradient(45deg, #5F2899 0%, #854BBF 100%);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-weight: 500;
}


@media (max-width: 600px) {
  body {
    height: auto;
  }
}