@import "../../variables";

.about {
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
}

.title {
	position: relative;
	width: 30%;
	z-index: 1;
	font-size: 4.5em;
	color: $text_color;
	font-family: "Baskerville";
	padding-top: 4rem;
	padding-left: 2.5%;
	letter-spacing: 0.3rem;
}

.blocks {
	padding-top: 10vh;
	rotate: 5deg;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.block {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	height: 150vh;
	margin-top: -30vh;
	width: 32%;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
	transition: 0.2s linear;
}

.first {
	background: linear-gradient(90deg, #876d9d 0%, rgba(135, 109, 157, 0) 100%);
}

.second {
	background: linear-gradient(270deg, #876D9D 0%, rgba(135, 109, 157, 0.00) 100%);
}

.back_img {
	z-index: 1000;
	height: 150vh;
	margin-top: -30vh;
	width: 32%;
	background-image: url("../../images/me.png");
	filter: saturate(0);
	background-size: cover;
	transition: 0.2s linear;
}

.back_img:hover {
	filter: saturate(1);
}

.short {
	margin-top: 50vh;
	width: 90%;
	padding-left: 5%;
	font-weight: 600;
}

.short_title {
	font-size: 3em;
	color: $secondary-bg-color;
	margin-bottom: 2rem;
	transform: translateX(-20px);
	transition: .2s linear;
}

.short_info {
	margin-bottom: 1.5rem;
	font-size: 2em;
	color: $secondary-bg-color;
	line-height: 2.4rem;
	transition: .2s linear;
	transform: translateX(20px);
}

.short_info span {
	transition: .2s linear;
}

.text {
	transform: rotate(3deg);
	margin-top: 50vh;
	width: 90%;
	margin-left: 5%;
	font-size: 2em;
	line-height: 2.5rem;
	color: $secondary-bg-color;
	transition: .2s linear;
}

.text span {
	opacity: 0.01;
	transition: .2s linear;
}

.link {
	color: $secondary-bg-color;
}

.block:hover {
	background: $main_color;

	.short_title {
		color: $text_color;
		transform: translateX(0px);
	}

	.short_info {
		color: $text_color;
		transform: translateX(0px);
	}

	.short_info span {
		color: $bg_color;
	}

	.text {
		transform: rotate(0deg);
		color: $text_color;
	}

	.text span {
		opacity: 1;
		color: $bg_color;
	}

	.link {
		color: $bg_color;
		text-decoration: underline;
	}
}


@media (max-width: 1281px) {
	.about {
		font-size: 12px;
	}
}

@media (max-width: 1025px) {
	.about {
		font-size: 10px;
	}

	.text {
		line-height: 2rem ;
	}

	.short_info {
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 821px) {
	.blocks {
		padding-top: 0;
		flex-direction: column;
	}

	.back_img {
		margin-left: -10vh;
		width: 120vh;
		margin-top: 0;
		height: 30vh;
		background-image: url("../../images/me_small.png");
		background-position: center;
		background-size: cover;
	}

	.block {
		margin-left: -10vh;
		width: 120vh;
		margin-top: 0;
		height: 30vh;
	}
	.short {
		margin-top: 1rem;
		padding-left: 20vh;
	}
	.short_title {
		margin-bottom: 1rem;
		font-size: 4em;
	}
	.short_info {
		font-size: 2.5em;
	}
	.text {
		margin-top: 1rem;
		padding-left: 10vh;
		font-size: 2.5em;
		width: 50%;
		line-height: 2.5rem;
	}
}

@media (max-width: 600px) {
	.about {
		font-size: 8px;
	}

	.back_img {
		background-image: url('../../images/me_very_small.png');
		background-size: contain;
		background-position: left;
	}

	.short {
		padding-left: 15vh;
	}

	.short_info {
		margin-bottom: 0;
	}

	.text {
		line-height: 1.8rem;
		font-size: 2.2em;
		width: 40vh;
	}
}

@media (max-width: 380px) {
	.text {
		width: 50vh;
		font-size: 2em;
		line-height: 1.5rem;
	}
}